nav {
    background-color: white;
    background-attachment: fixed;
    opacity: 90%;
    display: flex;
    align-content: row;
    justify-content: end;
    border-radius: 25px;
}

div {
    background-color: whitesmoke;
    margin-top: 2000px;
    padding-top: 200px;
    padding-bottom: 200px;
    color: black;
}