/* ---- reset ---- */

canvas {
display: flex;
vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    width:100%;
	height:100%;
    opacity: 50%;
}

h1 {
    position: absolute;
}

html, body {
    background: #232323;
    background-attachment: fixed;
    width: auto; 
    height: 100vh;
}

ol { 
    counter-reset: item;
    list-style-type: none;
}
li { display: block; }
li:before { 
    content: counter(item) "  "; 
    counter-increment: item 
}