body {
    background-image: url("/images/Background.png");
    background-attachment: fixed;
}

div {
    background-color: whitesmoke;
    margin-top: 2000px;
    padding-top: 200px;
    padding-bottom: 200px;
    color: yellow;
}